@import "application.tailwind";
@import "navbar";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  color: black;
}

.top-background-image {
  height: 250px;
  background-position: center;
  background-size: cover
}
