<div class='top-background-image' style="background-image: url(<%= rails_blob_url(@apartment.cover_photo) %>);">
</div>

<div class="container" style='margin-top: 15px'>
  <div class="row">
    <div class="col-8">
      <div class="default-card">
        <h3><%= @apartment.neighborhood %></h3>
        <h2><%= @apartment.name %> <%= @apartment.address %></h2>
      </div>
    </div>
  </div>
</div>
